@model IEnumerable<Domaine.Team>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adminEntreprise.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectManager.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rhManager.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adminEntreprise.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectManager.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rhManager.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.teamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.teamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.teamId })
        </td>
    </tr>
}

</table>
