@model ExamenWeb.Models.Multiple

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Index</h2>
<div class="container">
   


    <table class="table">


        @foreach (var pos in Model.postdetails)
        {
            <tr>
                <td>


                    @Html.DisplayFor(modelItem => pos.Contenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pos.DatePost)
                </td>
                @if (pos.UserId == 1)
                {
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">


                            <input type="submit" value="supp" />

                        </div>
                        </div>
                        }
</tr>
        }
    </table>



    <div>


        @foreach (var comment in Model.commentdetails)
            {



            <label>
                @Html.DisplayFor(modelItem => comment.Contenu)
            </label>
                <label>
                    @Html.DisplayFor(modelItem => comment.DateComment)
                </label>

                if (comment.UserId == 1)
                {

                    @Html.ActionLink("Edit", "Edit", new { id = comment.CommentId })
                    @Html.ActionLink("Delete", "Delete", new { id = comment.CommentId })

                }


                <label num="@comment.CommentId" value="hi" id="hi" name="hi" class="like">ouii</label>

                 <input id="@comment.CommentId" name="butli" type="submit" value="Like" class="like" />


               <label id="hid" num="@comment.CommentId" value="hid" name="hid" class="dislike"> dislike </label>
                        <input id="@comment.CommentId" name="butlid" type="submit" value="dislike" class="dislike" />

                        @Html.HiddenFor(model => model.CommentId)
                        @Html.HiddenFor(model => model.UserId)
            <br />
        }


    </div>



                        @using (Html.BeginForm("Create", "Multiple", FormMethod.Post, new { PostId = Model.PostId }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Comment</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Contenu, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Contenu, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contenu, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">


                                        <input type="submit" value="ajou" />

                                    </div>
                                    <div class="form-group" style="visibility: hidden">
                                        <div class="col-md-10">
                                            @Html.TextBox("DateComment", DateTime.Now, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group" style="visibility: hidden">
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PostId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>
                            </div>
                        }

</div>


<script>
    $(document).ready(function () {


           $('label[class="like"]').each(function (i,e) {


                    $.ajax({
                        url: '/ReactComment/Count',
                        type: "GET",
                        data: { CommentId: $(this).attr('num') },
                        success: function (response) {

                            $(e).text(response);
                        }


                    })
                  });


                $('label[class="dislike"]').each(function (i, e) {


                    $.ajax({
                        url: '/ReactComment/CountD',
                        type: "GET",
                        data: { CommentId: $(this).attr('num') },
                        success: function (response) {

                            $(e).text(response);
                        }


                    })
                });



        // butt like tna7y dis
                $(function () {
                    $(".like").click(function () {
                        var textValue = $(this).closest("input[name='butli']").attr('id');
                        $.ajax({
                            url: '/ReactComment/Test',
                            type: "POST",
                            data: { UserId: 1, CommentId: textValue },
                            success: function (response) {
                                if (response != 0) {


                                    $.ajax({
                                        url: '/ReactComment/CreateDel',
                                        type: "POST",
                                        data: { CommentId: textValue, UserId: 1, TypeReact: "Like" },
                                        success: function (response) {

                                            $('label[class="like"]').each(function (i, e) {


                                                $.ajax({
                                                    url: '/ReactComment/Count',
                                                    type: "GET",
                                                    data: { CommentId: $(this).attr('num') },
                                                    success: function (response) {

                                                        $(e).text(response);
                                                    }


                                                })
                                            });//end loop nbre like

                                            $('label[class="dislike"]').each(function (i, e) {


                                                $.ajax({
                                                    url: '/ReactComment/CountD',
                                                    type: "GET",
                                                    data: { CommentId: $(this).attr('num') },
                                                    success: function (response) {

                                                        $(e).text(response);
                                                    }


                                                })
                                            });
                                        }
                                    });


                                }

                                else {


                                    $.ajax({
                                        url: '/ReactComment/TestD',
                                        type: "POST",
                                        data: { CommentId: textValue, UserId: 1 },
                                        success: function (response) {

                                            if (response == 0)
                                            {//maandou hata j aime add
                                                $.ajax({
                                                    url: '/ReactComment/Create',
                                                    type: "POST",
                                                    data: { CommentId: textValue, UserId: 1, TypeReact: "Like" },
                                                    success: function (response) {

                                                        $('label[class="like"]').each(function (i, e) {


                                                            $.ajax({
                                                                url: '/ReactComment/Count',
                                                                type: "GET",
                                                                data: { CommentId: $(this).attr('num') },
                                                                success: function (response) {

                                                                    $(e).text(response);
                                                                }
                                                            });
                                                        })
                                                    }
                                                });
                                            }
                                            else {
                                                //aandou jaime fasakhha
                                                $.ajax({
                                                    url: '/ReactComment/DeleteConfirmed',
                                                    type: "POST",
                                                    data: { CommentId: textValue, UserId: 1, TypeReact: "Like" },
                                                    success: function (response) {

                                                        $('label[class="like"]').each(function (i, e) {


                                                            $.ajax({
                                                                url: '/ReactComment/Count',
                                                                type: "GET",
                                                                data: { CommentId: $(this).attr('num') },
                                                                success: function (response) {

                                                                    $(e).text(response);
                                                                }
                                                            });
                                                        })
                                                    }
                                                });
                                            }
                                        }
                                    });








                                }


                            }
                        });
                    });
                });









        // butt dislike tna7y lik
                $(function () {
                    $(".dislike").click(function () {
                        var textValue = $(this).closest("input[name='butlid']").attr('id');
                        $.ajax({
                            url: '/ReactComment/TestD',
                            type: "POST",
                            data: { UserId: 1, CommentId: textValue },
                            success: function (response) {
                                if (response != 0) {


                                    $.ajax({
                                        url: '/ReactComment/CreateDelD',
                                        type: "POST",
                                        data: { CommentId: textValue, UserId: 1, TypeReact: "Dislike" },
                                        success: function (response) {

                                            $('label[class="dislike"]').each(function (i, e) {


                                                $.ajax({
                                                    url: '/ReactComment/CountD',
                                                    type: "GET",
                                                    data: { CommentId: $(this).attr('num') },
                                                    success: function (response) {

                                                        $(e).text(response);
                                                    }


                                                })
                                            });//end loop nbre dislike

                                            //here
                                            $('label[class="like"]').each(function (i, e) {


                                                $.ajax({
                                                    url: '/ReactComment/Count',
                                                    type: "GET",
                                                    data: { CommentId: $(this).attr('num') },
                                                    success: function (response) {

                                                        $(e).text(response);
                                                    }
                                                });
                                            })
                                        }
                                    });


                                }

                                else {


                                    $.ajax({
                                        url: '/ReactComment/Test',
                                        type: "POST",
                                        data: { CommentId: textValue, UserId: 1 },
                                        success: function (response) {

                                            if (response == 0) {//maandou hata dislike add
                                                $.ajax({
                                                    url: '/ReactComment/Create',
                                                    type: "POST",
                                                    data: { CommentId: textValue, UserId: 1, TypeReact: "Dislike" },
                                                    success: function (response) {
                                                        $('label[class="dislike"]').each(function (i, e) {


                                                            $.ajax({
                                                                url: '/ReactComment/CountD',
                                                                type: "GET",
                                                                data: { CommentId: $(this).attr('num') },
                                                                success: function (response) {

                                                                    $(e).text(response);
                                                                }


                                                            })
                                                        });
                                                        //ici
                                                    }
                                                });
                                            }
                                            else {
                                                //aandou dislike fasakhha
                                                $.ajax({
                                                    url: '/ReactComment/DeleteConfirmed',
                                                    type: "POST",
                                                    data: { CommentId: textValue, UserId: 1, TypeReact: "Dislike" },
                                                    success: function (response) {

                                                        $('label[class="dislike"]').each(function (i, e) {


                                                            $.ajax({
                                                                url: '/ReactComment/CountD',
                                                                type: "GET",
                                                                data: { CommentId: $(this).attr('num') },
                                                                success: function (response) {

                                                                    $(e).text(response);
                                                                }


                                                            })
                                                        });
                                                    }
                                                });
                                            }
                                        }
                                    });


















                                }


                            }
                        });
                    });
                });





    });


</script>
